<header aria-label="Site Header" class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a class="block text-teal-600" href="/">
          <span class="sr-only">Home</span>
          <p class="text-gray-800 font-poppins font-bold text-lg">Solvevisual</p>
          
        </a>
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Site Nav" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm space-x-12">
            <li>
              <a
                class="font-semibold hover:text-orange-500 transition text-gray-500 "
                href="/"
              >
                Home
              </a>
            </li>

            <li>
              <a
                class="font-semibold text-gray-500 transition hover:text-orange-500 "
                href="/"
              >
                About
              </a>
            </li>

            <li>
              <a
                class="font-semibold text-gray-500 transition hover:text-orange-500 "
                href="/"
              >
                Gallery
              </a>
            </li>

            <li>
              <a
                class="font-semibold text-gray-500 transition hover:text-orange-500"
                href="/"
              >
                Contact
              </a>
            </li>
          </ul>
        </nav>

        </div>
      </div>
    </div>
</header>
