<main
class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all">
<app-navbar></app-navbar>
<div class="w-full mx-auto">
  <router-outlet>
  </router-outlet>
  <app-footer>
  </app-footer>
</div>
<div fixed-plugin *ngIf="isShow">
  <a fixed-plugin-button (click)="gotoTop()"
    class="bottom-7.5 right-7.5 p-4 text-sm z-990 shadow-soft-lg rounded-circle fixed cursor-pointer py-3 bg-white text-slate-700"
    style="margin-right: 46.5px;">
    <div class="w-full">
      <i class="fa fa-arrow-up fa-1" aria-hidden="true"></i>
    </div>
  </a>
</div>
</main>
