.slider{
  height: 250px;
  margin: auto;
  position:relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track{
  display: flex;
  width: calc(250px * 10);
  animation: slide  15s linear infinite;
}

.slide-trackk{
  display: flex;
  width: calc(250px * 10);
  animation: slides 15s linear infinite;
}

.slide-track:hover{
  animation-play-state: paused;
}
.slide-trackk:hover{
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-250px, 0, 0); /* The image width */
  }
}

@keyframes slides {
  0% {
    transform: translate3d(-250px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0); /* The image width */
  }
}

.slide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

img{
  width: 100%;
  transition: transform 1s;
}

img:hover{
  transform: translateZ(20px);
}
